*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 200px;
    height: 200px;
}

.circle{
    border-radius: 50%;
}

.cat{
    border: 10px solid red;
    align-self: flex-start;
}

.horse{
    border: 10px solid rgb(206, 252, 0);
}

.camel{
    border: 10px solid green;
}


main{
    display: flex;
    justify-content: center;
 }