*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 200px;
    height: 200px;
}

.circle{
    border-radius: 50%;
}

.cat{
    border: 10px solid red;
}

.horse{
    border: 10px solid rgb(229, 255, 0);
}

.camel{
    border: 10px solid green;
}


main{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: end;
 }